#!/usr/bin/env bash
set -euo pipefail

{{- if eq .chezmoi.os "linux" }}

sudo apt update && sudo apt upgrade -y

{{- if and (hasKey . "packages") (hasKey .packages "linux") (hasKey .packages.linux "apt") }}
sudo apt install -y{{ range .packages.linux.apt }} {{ . }}{{ end }}
{{- end }}

# mise (asdf replacement)
if ! command -v mise >/dev/null 2>&1; then
  curl https://mise.run | sh
fi

# oh-my-posh
if ! command -v oh-my-pose >/dev/null 2>&1; then
  curl -s https://ohmyposh.dev/install.sh | bash -s
fi

{{- else }}
echo "[chezmoi] Skipping Linux installer, this is {{ .chezmoi.os }}"
{{- end }}