#!/bin/bash

{{- if eq .chezmoi.os "darwin" }}
TARGET_DIR="$HOME/Library/Application Support/Cursor/User"
{{- else }}
TARGET_DIR="$HOME/.config/Cursor/User"
{{- end }}

mkdir -p "$TARGET_DIR"
ln -sf "$HOME/.config/shared/editor-settings.json" "$TARGET_DIR/settings.json"
ln -sf "$HOME/.config/shared/editor-keybindings.json" "$TARGET_DIR/keybindings.json"